@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* Home */

/* Header */
.header-img{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 300px;
    object-fit: cover;
    border-radius: 0 0 100px 100px;
    z-index: 0;
}

.header-txt {
    width: 95%;
}

.header-ref{
    text-align: start;
    width: 100%;
    margin-top: 320px;
    text-align: justify;
}

.header-ref a{
    text-decoration: none;
    color: black;
    font-size: 15px;

}

/* Header Media's */
@media (max-width: 430px) {
    .header-img{
        border-radius: 0 0 50px 50px;
    }
}
@media (max-width: 300px) {
    .header-ref a{
        text-decoration: none;
        color: black;
        font-size: 10px;
    }
}



/* Main */

main .context{
    text-align: justify;
}

main .homeGraphic{
    width: 65%;
}

main .filterEpdemic ul li a{
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    main .homeGraphic{
        width: 100%;
    }
}